@model ViewModels.OrderViewModel

<p>Checkout</p>

@using (Html.BeginForm("CheckOut", "Order"))
{


    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.customer.LastName)
        @Html.TextBoxFor(c => c.customer.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.customer.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.customer.FirstName)
        @Html.TextBoxFor(c => c.customer.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.customer.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.customer.Address)
        @Html.TextBoxFor(c => c.customer.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.customer.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.customer.Zipcode)
        @Html.TextBoxFor(c => c.customer.Zipcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.customer.Zipcode)
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.customer.CustomerId)

    <button type="submit" class="btn btn-primary">Bestellen</button>

    <h1>Jouw bestelling:</h1>

}

@foreach (var item in Model.OrderDetails)
{
    <p>@item.Product.Name</p>
}



