@model Webshop.Domain.Models.Order



<div class="form-group">
    @Html.LabelFor(c => c.FirstName)
    @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.FirstName)
</div>
<div class="form-group">
    @Html.LabelFor(c => c.FirstName)
    @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.FirstName)
</div>