@model IEnumerable<Webshop.Domain.Models.Product>
@{ ViewData["Title"] = "Index"; }

<div class="text-center">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ProductId</th>
                <th scope="col">Naam</th>
                <th scope="col">Prijs</th>
                <th scope="col">Korte omschrijving</th>
                <th scope="col">Beschrijving</th>
                <th scope="col">Aanpassen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
<tr>
    <th scope="col">@product.Id</th>
    <th scope="col">@product.Name</th>
    <th scope="col">@product.Price</th>
    <th scope="col">@product.DescriptionShort</th>
    <th scope="col"><img src="@product.ImageUrl" width="125" height="100" /></th>
    <th scope="col">@Html.ActionLink("Bewerken", "EditProduct", new { id = product.Id }, null) </th>
</tr>            }
        </tbody>
    </table>


    @Html.ActionLink("Voeg product toe", "NewProduct", "Products")

</div>
