@model ViewModels.ProductViewModels.ProductFormViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Testing</h1>
</div>

@using (Html.BeginForm("Save", "Products"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Name)
        @Html.TextBoxFor(p => p.Product.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Price)
        @Html.TextBoxFor(p => p.Product.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.DescriptionShort)
        @Html.TextBoxFor(p => p.Product.DescriptionShort, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.DescriptionShort)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.ImageUrl)
        @Html.TextBoxFor(p => p.Product.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.ImageUrl)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.DescriptionLong)
        @Html.TextAreaFor(p => p.Product.DescriptionLong, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.DescriptionLong)
    </div>

    @Html.HiddenFor(p=>p.Product.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Check</button>
}





