@*@model ViewModels.ProductViewModels.ListProductViewModel*@
@model Webshop.HelperClasses.PaginatedList<Webshop.Domain.Models.Product>



@{ ViewData["Title"] = "Home Page"; }
@{ var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : ""; }

@*<form asp-controller="Home" asp-action="Search" method="get">
        <div class="form-actions no-color">
            <p>
                Zoek op Artikel:
                <input asp-for="ProductSearch" />
                <input type="submit" value="Zoek product" class="btn btn-default" /> |
                <a asp-controller="Home" asp-action="Index">Terug naar alle producten</a>
            </p>
        </div>
    </form>*@


<table class="table">
    <thead>
        <tr>
            <th scope="col">ProductId</th>
            <th scope="col">Naam</th>
            <th scope="col">Prijs</th>
            <th scope="col">Korte omschrijving</th>
            <th scope="col">Afbeelding</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
<tr>

    <th scope="col">@product.Id</th>
    <th scope="col">@product.Name</th>
    <th scope="col">@product.Price</th>
    <th scope="col">@product.DescriptionShort</th>
    <th scope="col"><img src="@product.ImageUrl" width="125" height="100" /></th>
    <th scope="col">
        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">Bekijk dit product!</a> <br />
        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id">Voeg toe aan winkelmandje!</a> <br />
        @if (this.User.IsInRole("Admin"))
        {
<a asp-controller="Products" asp-action="EditProduct" asp-route-id="@product.Id">Bewerk dit product!</a>}
    </th>

</tr>}
    </tbody>
</table>


@Html.ActionLink("Vorige Pagina", "Index", new { pageNumber = Model.PageIndex - 1 }, new { @class=$"btn btn-default {prevDisabled}" })
@Html.ActionLink("Volgende Pagina", "Index", new { pageNumber = Model.PageIndex +1 }, new { @class = $"btn btn-default {nextDisabled}" })

@*<a asp-action="Index" asp-route-pageNumber="@Model.PageIndex-1"
   class="btn btn-default @prevDisabled">Previous</a>
<a asp-action="Index" asp-route-pageNumber="@Model.PageIndex+1"
   class="btn btn-default @nextDisabled">Next</a>*@ 