@model IEnumerable<Webshop.Domain.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}



<table class="table">
    <thead>
        <tr>
            <th scope="col">ProductId</th>
            <th scope="col">Naam</th>
            <th scope="col">Prijs</th>
            <th scope="col">Korte omschrijving</th>
            <th scope="col">Afbeelding</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
                <tr>

                    <th scope="col">@product.Id</th>
                    <th scope="col">@product.Name</th>
                    <th scope="col">@product.Price</th>
                    <th scope="col">@product.DescriptionShort</th>
                    <th scope="col"><img src="@product.ImageUrl" width="125" height="100" /></th>
                    <th scope="col">
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">Bekijk dit product!</a> <br />
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id">Voeg toe aan winkelmandje!</a> <br />
                        @if (this.User.IsInRole("Admin"))
                        {
                    <a asp-controller="Products" asp-action="EditProduct" asp-route-id="@product.Id">Bewerk dit product!</a>}
                    </th>

                </tr>

        }
    </tbody>
</table>
