@*@model ViewModels.ProductViewModels.ListProductViewModel*@
@model Webshop.HelperClasses.PaginatedList<Webshop.Domain.Models.Product>



@{ ViewData["Title"] = "Home Page"; }
@{ var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : ""; }

@*<form asp-controller="Home" asp-action="Search" method="get">
        <div class="form-actions no-color">
            <p>
                Zoek op Artikel:
                <input asp-for="ProductSearch" />
                <input type="submit" value="Zoek product" class="btn btn-default" /> |
                <a asp-controller="Home" asp-action="Index">Terug naar alle producten</a>
            </p>
        </div>
    </form>*@
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/products.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">


        <div class="row">

            @foreach (var product in Model)
            {
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="@product.ImageUrl"></div>
            <figcaption class="info-wrap">
                <h4 class="title">@product.Name</h4>
                <p class="desc">@product.DescriptionShort</p>
                <div class="admin-wrap">
                    <div class="label-rating">Edit</div>
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Toevoegen aan winkelkar</a>
                <div class="price-wrap h5">
                    <span class="price-new">€ @product.Price</span> <del class="price-old"></del>
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->}

        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @Html.ActionLink("Vorige Pagina", "Index", new { pageNumber = Model.PageIndex - 1 }, new { @class = $"btn btn-outline-warning {prevDisabled}" })
                    @Html.ActionLink("Volgende Pagina", "Index", new { pageNumber = Model.PageIndex + 1 }, new { @class = $"btn btn-outline-warning {nextDisabled}" })
                </div>
            </div>
        </div>

         
        
        <br />
        <br />
        <br />
    </div>

    
</body>


