@model ViewModels.CartViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>Cart</p>

@if (Model.cartItems.Count == 0)
{
    <p>Nog geen items toevoegd aan cart</p>
}
else
{
    @foreach (var item in Model.cartItems)
    {
        <p>Naam: @item.Product.Name</p>
        <p>Subtotaal: @item.SubTotal</p>
        <p>Quantity: @item.Quantity. </p>
        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id">Verwijder</a>
        <br />

    }

    <p>Totaal: @Model.Total</p>
}


